.first-article-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3px solid black;
  padding: 20px;
  text-align: justify;
}

#first-article-img {
  // size: inherit;
  margin-bottom: 10px;
}

.main-first-article-container {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  padding: 20px;
  height: 100%;

  h4 {
    font-size: 1.5rem;
    text-align: justify;
  }

  .main-first-article-description {
    margin: 10px 0px;
    text-align: justify;
  }
}
