.main-nav {
  //   border: 2px solid black;
}

.explore {
  background-image: url("../../img/start-reading.jpg");
  width: 700px;
  height: 200px;
  background-size: cover;
  position: relative;
  border: 2px solid rgb(9, 128, 0);
  span {
    color: white;
    border: 2px solid white;
    padding: 5px 10px;
    // border-radius: 10px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    cursor: pointer;
  }

  span:hover {
    text-decoration: underline;
    transition: all 1s ease-in-out 0.2s;
    text-decoration: underline;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // border: 2px solid black;
  .logo-img {
    border: 2px solid var(--primary);
  }
}
