.news-category-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  text-align: justify;

  background-position: center;
  background-size: cover;
  .category-title {
    display: inline-block;
    border-bottom: 1px solid white;
    padding: 4px 7px;
    margin-bottom: 10px;
  }
  .wel-news-title {
    font-size: 1.1rem;
    font-weight: bolder;
  }

  .wel-news-date {
    margin-top: 5px;
  }
}
