.main-section-container {
  margin-top: 50px;
  display: grid;
  gap: 20px;
  grid-template-areas: "global global popular" "sports sports popular" "books books popular";
}

#main-global {
  grid-area: global;
}

#main-sports {
  grid-area: sports;
}

#main-popular {
  grid-area: popular;
}

#main-books {
  grid-area: books;
}

.loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  height: 100px;
  gap: 20px;
}
