.home-pop-container ul {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  #home-pop-title {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
  }
}

// #home-pop-title img {
//   border-radius: 100%;
// }
